# プロジェクトに含まれる一時ファイル群
backup/*
tmp/*
works/*

# Node.js関連ファイル
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# SASS関連ファイル
.sass-cache/

# MacOS関連ファイル
.DS_Store

# 空ディレクトリをGitで監視するために、
# 下記ファイルを監視
!.gitkeep
