// ---------------------------------------------
//   design variables
//----------------------------------------------

//   design width
//----------------------------------------------
$design-width-pc: 1200;
$design-width-sp: 750;

//   min width
//----------------------------------------------
$minwidth-pc: 1000;
$minwidth-sp: 320;

//   breakpoints
//----------------------------------------------
$breakpoint-conf: (
  breakpoint: (
    iMac: "screen and (min-width:1600px), print",
    pc: "screen and (min-width:768px), print",
    sp: "screen and (max-width:767px), print",
    not-pc: "screen and (max-width:767px), print",
    not-sp: "screen and (min-width:768px), print"
  )
);

//   color
//----------------------------------------------
$black1: #000;
$white1: #fff;

//   line height
//----------------------------------------------
$line-height-pc: 1.5;
$line-height-sp: 1.5;

//   font
//----------------------------------------------
$root-fz-pc: 14;
$root-fz-sp: 14;
$root-fc: $black1;
$root-ff: "Helvetica Neue", "Segoe UI", Helvetica, Verdana, Arial,
  "Yu Gothic Medium", "游ゴシック Medium", "游ゴシック体", YuGothic, Yu Gothic,
  "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo,
  sans-serif;

//   easing
//----------------------------------------------
//map-get($ease, linear)的な書き方で使えます
//https://easings.net/ja
$ease: ();
$ease: map-merge($ease, (linear: cubic-bezier(0.250, 0.250, 0.750, 0.750)));
$ease: map-merge($ease, (ease: cubic-bezier(0.250, 0.100, 0.250, 1.000)));
$ease: map-merge($ease, (easeIn: cubic-bezier(0.420, 0.000, 1.000, 1.000)));
$ease: map-merge($ease, (easeOut: cubic-bezier(0.000, 0.000, 0.580, 1.000)));
$ease: map-merge($ease, (easeInOut: cubic-bezier(0.420, 0.000, 0.580, 1.000)));
$ease: map-merge($ease, (easeInQuad: cubic-bezier(0.550, 0.085, 0.680, 0.530)));
$ease: map-merge($ease, (easeInCubic: cubic-bezier(0.550, 0.055, 0.675, 0.190)));
$ease: map-merge($ease, (easeInQuart: cubic-bezier(0.895, 0.030, 0.685, 0.220)));
$ease: map-merge($ease, (easeInQuint: cubic-bezier(0.755, 0.050, 0.855, 0.060)));
$ease: map-merge($ease, (easeInSine: cubic-bezier(0.470, 0.000, 0.745, 0.715)));
$ease: map-merge($ease, (easeInExpo: cubic-bezier(0.950, 0.050, 0.795, 0.035)));
$ease: map-merge($ease, (easeInCirc: cubic-bezier(0.600, 0.040, 0.980, 0.335)));
$ease: map-merge($ease, (easeInBack: cubic-bezier(0.600, -0.280, 0.735, 0.045)));
$ease: map-merge($ease, (easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940)));
$ease: map-merge($ease, (easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000)));
$ease: map-merge($ease, (easeOutQuart: cubic-bezier(0.165, 0.840, 0.440, 1.000)));
$ease: map-merge($ease, (easeOutQuint: cubic-bezier(0.230, 1.000, 0.320, 1.000)));
$ease: map-merge($ease, (easeOutSine: cubic-bezier(0.390, 0.575, 0.565, 1.000)));
$ease: map-merge($ease, (easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000)));
$ease: map-merge($ease, (easeOutCirc: cubic-bezier(0.075, 0.820, 0.165, 1.000)));
$ease: map-merge($ease, (easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275)));
$ease: map-merge($ease, (easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955)));
$ease: map-merge($ease, (easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000)));
$ease: map-merge($ease, (easeInOutQuart: cubic-bezier(0.770, 0.000, 0.175, 1.000)));
$ease: map-merge($ease, (easeInOutQuint: cubic-bezier(0.860, 0.000, 0.070, 1.000)));
$ease: map-merge($ease, (easeInOutSine: cubic-bezier(0.445, 0.050, 0.550, 0.950)));
$ease: map-merge($ease, (easeInOutExpo: cubic-bezier(1.000, 0.000, 0.000, 1.000)));
$ease: map-merge($ease, (easeInOutCirc: cubic-bezier(0.785, 0.135, 0.150, 0.860)));
$ease: map-merge($ease, (easeInOutBack: cubic-bezier(0.680, -0.550, 0.265, 1.550)));
